body {
    margin: 0 auto;
    padding: 0;
    background: rgb(100, 223, 223, 0.5);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin-top: -40px;
    background: rgb(226, 223, 223);
    font-size: 2rem;
    text-align: center;
    text-shadow: grey 2px 2px;
}


img.middle {
    vertical-align: middle;
}

.main-content {
    float : left;
    max-width: 100%;

}

aside .side-menu {
    float: left;
    max-width: 25%;
    min-width: 200px;
    max-height: 200px;
    background-color: #e4e6e5;
    border: 1px solid steelblue;
    border-radius: 20px;
    margin: 80px 0 0 20px;
}

.side-menu li {
    margin: 7px 0;
    list-style: none;
}

#menu-header {
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: underline;
    color: black;
}

.side-menu li, li a {
    text-decoration: none;
    color: steelblue;
    padding: 2px;
}

li, a:hover {
    color: turquoise;
    font-weight: bold;
}

.main-content h2 {
    font-size: 1.8rem;
    text-decoration: underline;
    text-align: center;
    text-shadow: grey 2px 2px;
}

p, main-content {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 6px;
    margin-right: 20px;
    color: #000;
}

.main-content p[id-data="1"] {
    background-color: #cdd4d6;
    font-size: 18px;
}

.main-content p:first-line {
    color: darkblue
}

.main-content p:first-letter {
    text-decoration: underline;
    font-size: 1.6rem;
}

p > img {
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px;
    transition: all 3s;

}

p > img:hover {
    transform: scale(2);
}

footer {
    clear: both;
    text-align: center;
    height: 100px;
    background:gray;
    vertical-align: middle;
    line-height: 100px;
}

.screen {
    text-align: center;
}

.images * {
    width: 20%;
    height: 20%;
    margin: 40px;
}



/* Частина 2 */

/*---- Блок навігації ----*/

nav {
    margin-top: -50px;
    border-bottom: #adb1b2 solid 1px;
    padding: 25px 5px;
    background: rgb(226, 223, 223);
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(115, 103, 124);
}

nav a:last-child {
    border-right: none;
}

nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    background-color: rgb(226, 223, 223);
}

nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;


}

nav a:hover {
    background-color: #000000;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}


nav ul li:hover > ul {
    display:inherit;
    text-align: left;
    background-color: rgb(226, 223, 223);

}

nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}


.search form {
    width: auto;
    float: right;
    margin-right: 30px;
}
.search input {
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #1a1414;
    background: #cecece;
    outline: none;
    position: relative;
    transition: .3s linear;
}
.search input:focus {
    width: 300px;
}
.search button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: -2px;
    right: 0;
}

.footer_logos{
    text-align: center;
    margin-top: auto;
    background-color: rgb(255, 255, 255);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.fa:hover {
    opacity: 0.7;
}

/*kartinki*/

.card {
    position: relative;
    width: 240px; height: 240px;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card:hover {
    transform: rotateY(180deg);
}
.card-face {
    position: absolute;
    top: 0; bottom: 0;
    backface-visibility: hidden;
}
.card-face.back {
    font: 18px/1.6 Arial;
    padding: 20px;
    transform: rotateY(180deg);
    background: #000000;
    color: #fff;
}

.Row {
    display: flex;
    width: 100%;
    table-layout: fixed;
    border-spacing: 80px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Column {
    height: 325px;
    display: flex;
    flex-direction: column;
    background-image: url(background.png);
    box-shadow: 0 18px 15px rgba(255, 255, 255, 0.1);
    transition: .3s;
    opacity: 80%;
    margin: 25px;
}


